@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.super-wrapper {
  width: 100%;
  overflow-x: hidden;
}
.header-banner {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #828282;
}
nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  /* background: url("../images/header-banner.png"); */
  /* background-size: auto; */
  /* background-size: cover; */
  z-index: 1000;
  background: white;
}
.nav-active {
  background: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
nav ul {
  display: flex;
  margin-top: 4.2rem;
}
nav ul li a {
  font-size: 1.6rem;
  letter-spacing: 0px;
  line-height: 3.6rem;
  color: black;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 3.9rem;
}
nav ul li a:hover {
  color: #fd8200;
  transition: 0.5s ease;
}
.h-careers {
  margin-right: 5rem;
  color: #fd8200;
}
.logo {
  margin-left: 4.5rem;
  margin-top: 2rem;
}
.header-inner {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.hamburger-menu {
  /*! width: 15.5px; */
  /*! height: 15px; */
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.bar {
  position: relative;
  width: 23.5px;
  height: 3px;
  background-color: #fd8200;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 23.5px;
  height: 3px;
  background-color: #fd8200;
  border-radius: 2px;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.bar::before {
  transform: translateY(-8px);
}
.bar::after {
  transform: translateY(8px);
}
/* bar animation */
.hamburger-menu.open .bar {
  transform: translateX(-10px);
  background: transparent;
}
.hamburger-menu.open .bar::before {
  transform: rotate(45deg) translate(8px, -8px);
}
.hamburger-menu.open .bar::after {
  transform: rotate(-45deg) translate(8px, 8px);
}
.job-head {
  background: black;
  margin-top: 100px;
  position: fixed;
  width: 100%;
  /*! z-index: 1001; */
}
.job-head h3 a {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease;
}
.job-head h3 a i {
  padding-right: 10px;
}
.jobs-headleft h3 a:hover {
  color: #fd8200;
  transition: 0.5s ease;
}
.job-head h2 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
  padding-top: 21px;
}
.jobs-headleft {
  padding-top: 22px;
  padding-bottom: 54px;
}
.job-head-loc span {
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 24px;
  color: white;
  font-weight: 400;
  font-family: "Montserrat";
}
.job-head-loc a {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: white;
  font-weight: 400;
  font-family: "Montserrat";
  transition: 0.5s ease;
}
.jobs-headinner {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobs-headright a {
  padding: 10px 29px;
  background: #fff;
  text-decoration: none;
  color: #000;
  font-size: 2.2rem;
  border-radius: 5px;
  transition: 0.5s ease;
}
.jobs-headright a:hover {
  background: #fd8200;
  transition: 0.5s ease;
}
.job-head-loc a:hover {
  color: #fd8200;
  transition: 0.5s ease;
}
.header-banner {
  margin-top: 367px;
}
.career {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.c-p1,
.c-p2 {
  font-size: 2rem;
  letter-spacing: 0px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
}
.career h2 {
  margin-top: 25px;
  font-family: "Montserrat";
  font-size: 2rem;
  letter-spacing: 0px;
}
.career ul li {
  font-family: "Montserrat";
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0px;
}
.career ul {
  list-style-type: square;
  padding-left: 17px;
}
/* quote section start */
.quote {
  background: #fd8200;
}
.quote-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 80px;
}
.quote h2 {
  font-size: 4rem;
  letter-spacing: -0.2rem;
  line-height: 5rem;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  max-width: 969px;
  margin-left: auto;
  margin-right: auto;
}
.quote h3 {
  font-size: 1.8rem;
  letter-spacing: 0px;
  line-height: 3.6rem;
  color: #000000;
  font-weight: 900;
  font-family: "Inter";
  text-align: center;
  margin-top: -8px;
  padding-bottom: 110px;
  text-transform: uppercase;
}
/* quote section end */
/* footer start */
.footer {
  background: #222222;
  margin-top: -14px;
}
.footer-inner {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer h2 {
  font-size: 1.6rem;
  letter-spacing: 0px;
  line-height: 3.6rem;
  color: #ffffff;
  font-weight: 700;
}
.footer p {
  font-size: 1.6rem;
  letter-spacing: 0px;
  /* line-height: 3.6rem; */
  color: #ffffff;
  font-weight: 500;
}
.footer p a {
  font-size: 1.6rem;
  letter-spacing: 0px;
  line-height: 3.6rem;
  color: #ffffff;
  font-weight: 500;
  transition: 0.5s ease;
}
.address p a {
  line-height: 2.8rem;
}
.footer p a:hover {
  color: #fd8200;
  transition: 0.5s ease;
}
.footer-content-right {
  display: flex;
  padding-top: 96px;
}
.f-logo {
  padding-top: 111px;
}
.address,
.email,
.phone {
  position: relative;
}
.address::before,
.email::before,
.phone::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #fd8200;
  position: absolute;
  left: -11px;
  top: 2.6rem;
}
.address p,
.email p,
.phone p {
  margin-top: -19px;
}
.address p {
  margin-top: -13px;
}
.address {
  margin-right: 105px;
}
.email {
  margin-right: 96px;
}
.copyright {
  background: #222222;
  font-size: 1.6rem;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  padding: 14px 0 14px 0;
  border-top: 2px solid #4e4e4e;
  margin-top: 96px;
}
.copyright h4 {
  margin: 0;
}
/* footer end */
@media screen and (max-width: 1700px) {
  html {
    font-size: 58%;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
  .header-inner,
  .footer-inner,
  .quote-inner,
  .jobs-headinner {
    max-width: 1050px;
  }
}
@media screen and (max-width: 1279px) {
  .header-inner,
  .footer-inner,
  .quote-inner,
  .jobs-headinner {
    max-width: 90%;
  }
  .quote-inner {
    padding-top: 33px;
  }
  .quote h3 {
    padding-bottom: 64px;
  }
  .footer-content-right {
    padding-top: 100px;
    padding-left: 17px;
  }
  .footer-inner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .header-inner,
  .footer-inner,
  .quote-inner,
  .jobs-headinner {
    max-width: 90%;
  }
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 991px) {
  .address {
    margin-right: 76px;
  }
  .email {
    margin-right: 85px;
  }
  .quote-inner {
    padding-top: 26px;
  }
  .quote h3 {
    padding-bottom: 47px;
  }
}
@media screen and (max-width: 967px) {
  .footer-content-right {
    padding-top: 38px;
  }
}
@media screen and (max-width: 760px) {
  .footer-content-right {
    padding-top: 33px;
    padding-left: 28px;
  }
  .footer-content-right {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 614px) {
  .jobs-headinner {
    align-items: flex-start;
    flex-direction: column;
  }
  .jobs-headright {
    padding-bottom: 41px;
  }
  .header-banner {
    margin-top: 409px;
  }
}
@media screen and (max-width: 643px) {
  nav ul {
    display: flex;
    position: absolute;
    height: 49vh;
    flex-direction: column;
    align-items: center;
    width: 92%;
    justify-content: space-evenly;
    background: white;
    top: 100px;
    left: 150%;
    transform: translateX(-50%);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  .hamburger-menu {
    margin-right: 70px;
    display: flex;
  }
}
@media screen and (max-width: 593px) {
  .logo {
    max-width: 200px;
  }
  .job-head {
    margin-top: 74px;
  }
}
@media screen and (max-width: 400px) {
  .header-inner,
  .footer-inner,
  .quote-inner,
  .jobs-headinner {
    max-width: 94%;
  }
  .hamburger-menu {
    margin-right: 33px;
    margin-top: 9px;
  }
  .logo {
    max-width: 165px;
  }

  nav ul {
    width: 94%;
  }
}
