@media screen and (max-width: 1700px) {
  html {
    font-size: 58%;
  }
  .header-inner,
  .expertise-inner,
  .creates-inner,
  .colab-inner,
  .footer-inner,
  .quote-inner {
    max-width: 1300px;
  }
  .e-top-right p {
    width: 632px;
  }
  .expertise-2 {
    padding-left: 13.2rem;
  }
  .expertise-3 {
    padding-left: 13.9rem;
  }
  .expertise-5 {
    padding-left: 12.4rem;
    padding-top: 45px;
  }
  .creates-content {
    margin-right: 94px;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
  .header-inner,
  .expertise-inner,
  .creates-inner,
  .colab-inner,
  .footer-inner,
  .quote-inner {
    max-width: 1150px;
  }
  .expertise-2 {
    padding-left: 8.2rem;
  }
  .expertise-3 {
    padding-left: 6.9rem;
  }
  .expertise-5 {
    padding-left: 7.4rem;
  }
  .expertise-6 {
    padding-left: 7rem;
  }
  .colab-right p {
    width: 481px;
  }
}
@media screen and (max-width: 1279px) {
  .header-inner,
  .expertise-inner,
  .creates-inner,
  .colab-inner,
  .footer-inner,
  .quote-inner {
    max-width: 90%;
  }
  .e-top-right p {
    width: 455px;
  }
  .e-top-right p {
    height: auto;
  }
  .e-bottom {
    margin-top: 6.3rem;
    justify-content: space-between;
  }
  .e-bottom-divs img {
    max-width: 70px;
    max-height: 70px;
  }
  .expertise-2 {
    padding-left: 0;
  }
  .expertise-3 {
    padding-left: 0rem;
  }
  .expertise-5 {
    padding-left: 0rem;
  }
  .expertise-6 {
    padding-left: 0;
  }
  .creates-inner {
    flex-wrap: wrap;
  }
  .creates-img {
    width: 100%;
    margin: 30px 0;
  }
  .colab-inner {
    flex-wrap: wrap;
  }
  .colab-right {
    margin-left: 61px;
    margin-top: 94px;
    margin-bottom: 65px;
  }
  .colab-left img {
    width: 46.1rem;
  }
  .quote-inner {
    padding-top: 33px;
  }
  .quote h3 {
    padding-bottom: 64px;
  }
  .footer-content-right {
    padding-top: 33px;
    padding-left: 17px;
  }
  .footer-inner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1052px) {
  .colab-left {
    width: 100%;
  }
  .colab-left img {
    width: 100%;
  }
  .colab-right {
    margin-left: 26px;
    margin-top: -25px;
  }
  .exc-2 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1020px) and (min-width: 992px) {
  .expertise-4 {
    padding-top: 0;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 45%;
  }
  .header-inner,
  .expertise-inner,
  .creates-inner,
  .colab-inner,
  .footer-inner,
  .quote-inner {
    max-width: 90%;
  }
  .e-top-left {
    margin-right: 50px;
  }
  .e-top-right p {
    width: 380px;
  }
  .address {
    margin-right: 76px;
  }
  .email {
    margin-right: 85px;
  }
  .quote-inner {
    padding-top: 26px;
  }
  .quote h3 {
    padding-bottom: 47px;
  }
  .exc-2 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 916px) {
  .expertise-4 {
    padding-top: 0;
  }
}
@media screen and (max-width: 760px) {
  .header-content ul {
    margin-top: 6.2rem;
    padding-bottom: 44px;
  }
  .header-content p {
    height: auto;
  }
  .header-content h3 {
    padding-top: 176px;
  }
  .e-top {
    flex-wrap: wrap;
  }
  .e-top-right p {
    margin-top: 0.2rem;
  }
  .e-bottom-divs img {
    max-width: 60px;
    max-height: 60px;
  }
  .expertise-2 {
    padding-left: 0;
  }
  .expertise-6 {
    padding-left: 0;
  }
  .exc-1 {
    margin-left: 2.9rem;
  }
  .exc-2 {
    margin-left: 3.4rem;
  }
  .exc-3 {
    margin-left: 3.2rem;
  }
  .exc-4 {
    margin-left: 3.5rem;
  }
  .exc-5 {
    margin-left: 2.6rem;
  }
  .exc-6 {
    margin-left: 3rem;
  }
  .creates-content p {
    width: 502px;
  }
  .e-top-right p {
    width: 100%;
  }
  .colab-right button {
    width: 352px;
    height: 66px;
  }
  .colab-right button a {
    font-size: 15px;
  }
  .footer-content-right {
    flex-wrap: wrap;
  }
  .menu-button {
    display: inline-block;
    cursor: pointer;
    height: 25px;
    margin-top: 40px;
    margin-right: 60px;
  }
  .block {
    position: fixed;
    top: 66px;
    background: #f78444;
    display: flex;
    height: 49vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .block li a {
    color: white;
  }
  .block li a:hover {
    color: black;
  }
  .block {
    right: 0;
    margin-top: 22px;
    transition: right 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  nav ul {
    position: fixed;
    right: -100%;
    transition: right 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    top: 66px;
    background: #f78444;
    display: flex;
    height: 49vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 22px;
  }
  .creates-img {
    width: 100%;
    margin: 30px 0;
  }
  .footer-content-right {
    padding-top: 33px;
    padding-left: 28px;
  }
}
@media screen and (max-width: 606px) {
  .header-content ul {
    flex-wrap: wrap;
  }
  .optimization {
    padding-top: 20px;
  }
}
@media screen and (max-width: 585px) {
  nav {
    background: #f78444 !important;
  }
}
@media screen and (max-width: 576px) {
  .header-content ul {
    flex-wrap: wrap;
  }
  .optimization {
    padding-top: 20px;
  }
  .creates-content {
    margin-right: 0;
  }
  .creates-content p {
    width: 100%;
  }
  .colab-right p {
    width: 100%;
  }
  .logo {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 562px) {
  .e-bottom {
    flex-direction: column;
    align-items: center;
  }
  .e-bottom-divs img {
    max-width: 100px;
    max-height: 100px;
  }
  .colab-right button {
    width: 400px;
    height: 69px;
  }
  .colab-right {
    margin-left: 0;
  }
}
@media screen and (max-width: 472px) {
  .web-development {
    padding-top: 20px;
  }
  .logo {
    margin-top: 3rem;
    max-width: 240px;
  }
  .colab-right button {
    width: 300px;
    height: 50px;
  }
  .colab-right button a {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .header-inner,
  .expertise-inner,
  .creates-inner,
  .colab-inner,
  .footer-inner,
  .quote-inner {
    max-width: 94%;
  }
  .e-bottom-divs img {
    max-width: 80px;
    max-height: 80px;
  }
}
@media screen and (max-width: 385px) {
  .menu-button {
    margin-right: 30px;
  }
  .logo {
    margin-top: 4rem;
    max-width: 200px;
  }
}
/* min width */
@media screen and (min-width: 1921px) {
  .creates-content {
    margin-right: 178px;
  }
}
@media screen and (min-width: 2039px) {
  .creates-content {
    margin-right: 262px;
  }
}
